body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #2C2B3D;
  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: 71px auto 0;
 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px; 
}

ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
}

ul li a {
  color: #FFF;
  text-decoration: none;
}

h1 ul {
  font-family: 'JetBrains Mono', monospace;
}

.imagem1 {
  margin-right: 77px;
  margin-bottom: 157px;
}
.texto1 {
  margin-bottom: 167px;
}

section {
  display: flex;
  align-items: center;
  
}

h1 {
  font-size: 36px;
  line-height: 40px;
  color: #FFF;
  text-align: center;
  }

h1 span {
   color: #00BFA6;
  }

  span {
    color: #00BFA6; 
  }

.texto1 {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color:#C2C2C2;
    position: absolute;
    left: 45.47%;
    right: 7.34%;
    top: 107px
    margin-bottom 34.03%; 
  
  }

  footer {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #FFF;
    margin-top: 27px;
  }